* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-pic {
    width: 510px;
    height: 500px;
    margin-left: 250px;
    margin-top: 100px;
}
.first3 {
    width: 510px;
    height: 375px;
    background-color: red;
    
}
#white-up {
    width: 125px;
    height: 150px;
    border: 3px solid black;
    background-color: white;
    
}
#white-middle {
    display: flex;
    width: 125px;
    height: 225px;
    border: 3px solid black;
    background-color: white;
    align-items: flex-end;
      }
.other3 {
    width: 510px;
    height: 125px;
    background-color: white;
    border: 3px solid black;
    display: flex;

}
#white-down {
    width: 350px;
    height: 130px;
    border: 3px solid black;
    background-color: white;
   justify-content: baseline;
                
}
#blue {
    width: 125px;
    height: 130px;
    border: 3px solid black;
    background-color: blue;
   
}
.yellow {
    width: 30px;
    height: 70px;
    background-color: yellow;
    border: 3px solid black;
    align-self: flex-end;  
}