body {
    background-color: rgb(243, 235, 235);
}
h1 {
    font-family: fantasy;
    text-decoration: dotted;
}

.list-group-item {
    font-style: italic;
    color: blue;
    background-color: aquamarine;

}
#list {
    max-width: 500px;
}


